.w3-CyclesDupont,.w3-hover-red:hover{color:#fff!important;background-color:#89B559!important}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: 	#3366BB; 
}

a:hover { 
    text-decoration:underline; 
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column60 {
    flex: 60%;
    max-width: 60%;
    padding: 0 4px;
  }
  
  .column40 {
    flex: 40%;
    max-width: 40%;
    padding: 0 4px;
  }

  .columnEqual {
    flex: 1;

  }

  
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .column60, .column40  {
      flex: 100%;
      max-width: 100%;
    }
  }

  .fa-map-marker-alt {
    color: #1da1f2;  
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  .containerParcours {
    display: flex;
  }
  .containerParcours.space-around {
    justify-content: space-around;
  }
  .containerParcours.space-between {  
    justify-content: space-between;
  }
  {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.iframe-container {
  overflow: hidden;
  // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625)
  padding-top: 56.25%;
  position: relative;
}
 
.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

.messagecovid { 

  width:95%;
  align-self: center;
  padding: 5px 5px; 
  color: white;
 
  margin:auto;
  border-style: solid;
  border-width: 2px;
  border-color:red;
}

.cardHeight{
  height: 350px;
  position: relative;
}

.cardHeightLong{
  height: 550px;
  position: relative;
}

.cloud_bottom {
  position: absolute; 
  bottom: 0;
  float:left;
}

@media only screen and (min-width: 800px) {
  .smallscreen { display: none; }
}
@media only screen and (max-width: 800px) {
.smallscreen { display: block; }
}

