<div class="w3-row-padding w3-margin-top">
  <div  class="w3-third w3-center"><a href="https://www.buckland.qc.ca"><img src="/assets/images/armoiriesBuckland.jpg"><br>Municipalité de Buckland</a></div>
  <div  class="w3-third w3-center"><a href="http://cyclesryno.com/" style="width:50%;height:50%;"><img src="/assets/images/logo-ryno.svg"><br>Cycles Ryno</a></div>
  <div  class="w3-third w3-center"><a href="http://aliciamercier.com/"><img src="/assets/images/logo-alicia.svg"><br>Fondation LAysa</a></div>
</div>