<div class="w3-row-padding w3-margin-top">
  <div  class="w3-third w3-center"><a href="https://www.mrcetchemins.qc.ca/"><img src="/assets/images/mrc-etchemins.png"  alt="Logo Mrc Etchemin" style="width:50%"></a></div>
  <div  class="w3-third w3-center"><a href="http://www.buckland.qc.ca"><img src="/assets/images/Mrc_Bellechasse.png"alt="Logo Mrc Bellechasse" style="width:50%"></a></div>
  <div  class="w3-third w3-center"><a href="http://labuckland.ca/" ><img src="/assets/images/bellechasse/LaBucklandLogo.png"  alt="Logo La Buckland" style="width:25%"></a></div>
</div>