<div class="w3-row-padding w3-margin-top">
  <div  class="w3-third w3-center"><a href="http://aliciamercier.com/"><img src="/assets/images/logo-alicia.svg"></a></div>
  <div  class="w3-third w3-center"><a href="http://www.buckland.qc.ca"><img src="/assets/images/armoiriesBuckland.jpg"><br>Municipalité de Buckland</a></div>
  <div  class="w3-third w3-center"><a href="http://cyclesryno.com/" style="width:75%;height:75%;"><img src="/assets/images/logo-ryno.svg"></a></div>
  <div  class="w3-third w3-center"><a href="http://reflexteinte.com/"><img src="/assets/images/logo-Reflex.png" style="width:75%;height:75%;"></a></div>
</div>