<a href="https://www.facebook.com/LaBucklandGravelle/"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
<i class="fa fa-instagram w3-hover-opacity"></i>
<i class="fa fa-twitter w3-hover-opacity"></i>
<a href="mailto:info@cx418.org"><i class="fa fa-envelope  w3-hover-opacity"></i></a>
<div class="w3-display-middle"><img src="/assets/images/logoBuckland-blanc-transparent.png" style="width:25%"> </div>
<p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>