    
      <div class="w3-bar w3-theme-d2  w3-card">
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>          
        <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hide-small"><i class="w3-large  fas fa-home"></i></a>   
        <a href="/index.html#horaire" class="w3-bar-item w3-button w3-padding-large w3-hide-small">HORAIRE</a>
        <a href="/index.html#inscription" class="w3-bar-item w3-button w3-padding-large w3-hide-small">INSCRIPTION</a>
        <a href="/index.html#parcours" class="w3-bar-item w3-button w3-padding-large w3-hide-small">PARCOURS</a>
        <a href="/index.html#hebergement" class="w3-bar-item w3-button w3-padding-large w3-hide-small">HÉBERGEMENTS</a>        
        <a href="/Resultats" class="w3-bar-item w3-button w3-padding-large w3-hide-small">RÉSULTATS</a>
        <a href="/FAQ" class="w3-bar-item w3-button w3-padding-large w3-hide-small">FAQ</a>    
        <a href="/index.html#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>    
        <a href="/en/index.html" class="w3-bar-item  w3-button w3-small  w3-padding-large w3-hide-small"><img src="/assets/images/US.png" >(English)</a>    

      </div>

    
    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
      <a href="/index.html#horaire" class="w3-bar-item w3-button w3-padding-large">Horaire</a>            
      <a href="/index#inscription" class="w3-bar-item w3-button w3-padding-large">Inscription</a>
      <a href="/index#parcours" class="w3-bar-item w3-button w3-padding-large">Parcours</a>
      <a href="/index#hebergement" class="w3-bar-item w3-button w3-padding-large">Hébergements</a>      
      <a href="/Resultats" class="w3-bar-item w3-button w3-padding-large">Résultats</a>
      <a href="/FAQ" class="w3-bar-item w3-button w3-padding-large">FAQ</a>
      <a href="/index.html#contact" class="w3-bar-item w3-button w3-padding-large">Contact</a>
      <a href="/en/index.html#contact" class="w3-bar-item  w3-padding-large">English<img src="/assets/images/US.png" ></a>

    </div>