    
      <div class="w3-bar w3-theme-d2  w3-card">
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>          
        <a href="/en" class="w3-bar-item w3-button w3-padding-large w3-hide-small"><i class="w3-large  fas fa-home"></i></a>   
        <a href="/en/index.html#horaire" class="w3-bar-item w3-button w3-padding-large w3-hide-small">SCHEDULE</a>
        <a href="/en/index.html#inscription" class="w3-bar-item w3-button w3-padding-large w3-hide-small">REGISTRATION</a>
        <a href="/en/index.html#parcours" class="w3-bar-item w3-button w3-padding-large w3-hide-small">COURSE</a>
        <a href="/en/index.html#hebergement" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LODGING</a>        
        <a href="/Resultats" class="w3-bar-item w3-button w3-padding-large w3-hide-small">RESULT</a>
        <a href="/en/FAQ" class="w3-bar-item w3-button w3-padding-large w3-hide-small">FAQ</a>    
        <a href="/en/index.html#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>    
        <a href="/en/Bellechasse-Etchemins" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LOCAL RIDES</a>    
        <a href="/index.html" class="w3-bar-item  w3-button w3-small  w3-padding-large w3-hide-small"><img src="/assets/images/fr.png" >(Français)</a>    

      </div>

    
    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
      <a href="/en/index.html#horaire" class="w3-bar-item w3-button w3-padding-large">Schedule</a>            
      <a href="/en/index#inscription" class="w3-bar-item w3-button w3-padding-large">Registration</a>
      <a href="/en/index#parcours" class="w3-bar-item w3-button w3-padding-large">Course</a>
      <a href="/en/index#hebergement" class="w3-bar-item w3-button w3-padding-large">Lodging</a>      
      <a href="/Resultats" class="w3-bar-item w3-button w3-padding-large">Result</a>
      <a href="/en/FAQ" class="w3-bar-item w3-button w3-padding-large">FAQ</a>
      <a href="/en/index.html#contact" class="w3-bar-item w3-button w3-padding-large">Contact</a>
      <a href="/en/Bellechasse-Etchemins" class="w3-bar-item w3-button w3-padding-large">Rides</a>
      <a href="/index.html" class="w3-bar-item w3-button w3-padding-large">Français<img src="/assets/images/fr.png" ></a>

    </div>
